.main-banner{
    padding-top: 30px;
    padding-bottom: 20px;
    background-image: url(../img/Banner.jpg);
    background-size: cover;
    color: white;
    text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.7);
}

.header-link{
    text-decoration: none;
    margin-right: 10px;
}

.nav-item:hover{
    box-shadow: 0px 0px 12px rgba(14, 154, 241, 0.4);
}

.nav-item{
    border-radius: 10px;
}

.form-check-input{
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li * {
float: left;
}
li {
    clear:both;
    list-style:none;
}
input {
    outline: none;
  }

.modifier-btn {
    outline: none;
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    /* margin: 10px 0 0; */
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.modifier-btn:hover {
    color: #333;
}

.modal-dialog {
    position: relative;
    top: 50px;
    right: 0px;
    bottom: 100px;
    left: 500px;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
  }

/* Completed */
#completed-tasks label {
    pointer-events:none; /* Not clickable */
    text-decoration: line-through;
    color: #888;
}

#completed-tasks button.edit {
    display: none;
}

/* .list-group-item{
    pointer-events:none; //not clickable
} */